{:main minimal-cljs-pixijs.core
 :output-to "docs/index.js"
 :output-dir "docs"
 :target :bundle
 :bundle-cmd
 {:none ["npx" "webpack" "./docs/index.js" "-o" "./docs" "--mode=development"]
  :default ["npx" "webpack" "./docs/index.js" "-o" "./docs"]}
 :closure-defines {cljs.core/*global* "window"}} ;; needed for advanced
