{:deps {org.clojure/clojurescript {:mvn/version "1.10.758"}
        github-mfikes/cljs-eval {:git/url "https://gist.github.com/mfikes/66a120e18b75b6f4a3ecd0db8a976d84" :sha "542208abcc4b77c90300d70e9ebd7a89d88fe460"}}}
