{:paths ["src" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.758"}}
 :aliases
 {:dev {:main-opts ["-m"  "cljs.main"
                    "-co" "build.edn"
                    "-v" "-c" "-r"]}
  :prod {:main-opts ["-m"  "cljs.main"
                     "-co" "build.edn"
                     "-O" "advanced"
                     "-v" "-c"]}}}
